@import "../../static/scss/Variables";

*{
    margin: 0px;
    padding: 0px;
    // overflow-x: hidden;
}

.welcomeUser{
    position: absolute;
    top: 15%;
    left: 0;
    right: 0;
    bottom: 0;
    height: fit-content;
    margin: 0 75px;
    
    h1{
        color: $white;
        font-family: $regular-font;
    }
    hr{
        color: $white;
    }
}


