@import "../../static/scss/Variables";
@import "../../components/Styles/SignUpForm";

.tripDetails {
    @extend .signUp;
    grid-template-rows: repeat(10, 10%);
    grid-template-columns: repeat(10, 1fr);
    margin: 0;
  }

.tripsDetails__Data{
    grid-column: 5/10;
    // margin-top: 25px;
}