@import "../../static/scss/Variables";
@import "./forms";

.signIn{
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    position: relative;
}

.signIn__container {
    background-color: rgba(255, 255, 255, 0.7);
    grid-column: 1/3;
    backdrop-filter: blur(17px);
    -webkit-backdrop-filter: blur(17px);
    display: block;
    position: relative;
    left: 100px;
    margin: 75px 0;
    border-radius: $box-border-radious;

    form {
      padding: 0 10%;
    }
  
    h1 {
      text-align: center;
      color: $font-color;
      margin: 65px 0 50px;
      font-family: $bold-font;
      font-size: map-get($font-size, "larger");
    }
  }